@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Prompt',sans-serif;
}

.header {
    margin: 25px;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-weight: bolder;
    display: flex;
   
}

.presentation{
    padding: 25px;
}
.img-container {
    display: flex;
    justify-content: center;
}
.presentation-image {
    width: 70%;
    object-fit: cover;
    aspect-ratio: 2/3;
    border-radius: 20px;
}
.presentation-texts h2 {
    margin: 20px 0;
}
.daily{
    padding: 20px;
    align-items: center;
    background-color:#858585 ;
    margin: 20px;
    border-radius: 30px;
}

.daily-images{
    display: flex;
    justify-content: center;
    
}
.image1{
    width: 90%;
    object-fit: cover;
    aspect-ratio:3/2 ;
    border-radius: 30px;
    margin-top: -49px;
}
.daily-images2{
    display: flex;
    justify-content: center;

}
.image2{
   
    width: 90%;
    object-fit: cover;
    aspect-ratio:3/2;
    border-radius: 30px;
}  
.daily-texts{
    margin: 40px 0;
    text-align: right;
   justify-content: center;
}
.articles{
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.running,.fitness,.strength {
    display: flex;
    align-content: center;
   justify-content: center;
  
}

.image3{
    width: 90%;
    object-fit: cover;
    aspect-ratio:3/2;
    border-radius: 30px;
   display: flex;
    align-content: center;
   justify-content: center;
}
.image4{
    width: 90%;
    object-fit: cover;
    aspect-ratio:3/2;
    border-radius: 30px;
}
.image5{
    width: 90%;
    object-fit: cover;
    aspect-ratio:3/2;
    border-radius: 30px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button1{
    font-size: medium;
    border: none;
    height: 45px;
    width: 200px;
   border-radius: 10px;
}

.button2{
    font-size: medium;
    border: none;
    height: 45px;
    width: 200px;
   border-radius: 10px;
}
.button3{
    font-size: medium;
    border: none;
    height: 45px;
    width: 200px;
   border-radius: 10px;
}
.gyms{
    justify-content: center; 
    align-content: center;
    background-color:#858585
}
.sub{
    justify-content: center;
   text-align: center;
   align-items: center;
}

 .gympic{
    width: 90%;
    object-fit: cover;
    aspect-ratio:100%;
    margin: 30px;

}
.gympic2{
    width: 90%;
    object-fit: cover;
    aspect-ratio:100%;
    margin: 30px;
}
.about{
    padding: 20px;
    align-items: center;
    background-color: #858585; 
    aspect-ratio:100%;
}
.opening, .rules {
    height: 350px;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.opening-title{
color: white;
}
.subtext{
    color: white;
    
}
.opening {
    background-image: url(./gympic.jpeg);
}
.rules {
    background-image: url(./gympic2.jpeg);
}
.logo2{
    padding: 50px 0;
    text-align: center;
}
.bottom{
  text-align: center;

}
.links{
    display: flex;
    align-items: center;
  justify-content: center;
}
